# Bytecode
__pycache__/

# Virtual environment
venv/
env/
.venv/

# Git
.git
.gitignore

README.md

# Docker
Dockerfile
docker-compose.dev.yml
docker-compose.prod.yml

# IDE/editor settings
.vscode/

# Environment variables
.env
.env.prod

# Pytest cache
.pytest_cache/
tests/



